{% extends "base.html" %}
{% block content %}
{% load static %}


<div class="container">

    <br>
    <br>
    <h2>Inclusion criteria</h2>
    <br>
    <br>
    
        <ul>
    
            <li>Article must be a Systematic or a Scoping review;</li>
            <li>Primary care scenario must be described: community-based primary care clinic, nursing home, community-dwelling facility in the community, homecare, or patients home. Terms such as “referrals” can represent integration of PHC and secondary services and must be interpreted individually;</li>
            <li>There must be an rehabilitation procedure described. It can be a guideline that includes a rehabilitation procedure;</li>
            <li>The rehabilitation procedure can be part of a large set of interventions;</li>
            <li>Intervention must address people with an specific type of impairment.</li>
    
        </ul>
    
    
    <br>
    <h2>Articles that have met inclusion criteria</h2>
    <br>
    <br>
    
    
    <p></p>
    Stakeholder perspectives of care for people living with dementia moving from hospital to care facilities in the community: a systematic review.
    <a href="https://bmcgeriatr.biomedcentral.com/articles/10.1186/s12877-019-1220-1" target="_blank"> 
        Richardson, A., Blenkinsopp, A., Downs, M. et al. BMC Geriatr 19, 202 (2019). https://doi.org/10.1186/s12877-019-1220-1</a>
    <p></p>
    
    
    Interventions targeting hypertension and diabetes mellitus at community and primary healthcare level in low- and middle-income countries: a scoping review
    <a href="https://bmcpublichealth.biomedcentral.com/articles/10.1186/s12889-019-7842-6" target="_blank"> 
        Correia, J.C., Lachat, S., Lagger, G. et al. BMC Public Health 19, 1542 (2019). https://doi.org/10.1186/s12889-019-7842-61</a>
    <p></p>
    
    
    Elements of integrated care approaches for older people: a review of reviews
    <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5892746/pdf/bmjopen-2017-021194.pdf" target="_blank"> Briggs AM, Valentijn PP, Thiyagarajan JA, et al. BMJ Open 2018;8:e021194. doi:10.1136/bmjopen-2017-021194</a>
    <p></p>
    
    Delaying and reversing frailty: a systematic review of primary care interventions
    <a href="https://bjgp.org/content/69/678/e61" target="_blank"> John Travers, Roman Romero-Ortuno, Jade Bailey and Marie-Therese Cooney; British Journal of General Practice 2019; 69 (678): e61-e69. DOI: https://doi.org/10.3399/bjgp18X700241</a><br>
    A key strength of this study is that it has provided an evidence-based map of interventions to delay and reverse frailty in primary care. The resultant model may be helpful to practitioners and patients in discussing and agreeing interventions to fit their specific circumstances. The researchers’ analysis seems a timely contribution as frailty screening becomes mandatory in the UK and more prevalent internationally.
    <p></p>
    
    Evidence for managing chronic low back pain in primary care: a review of recommendations from high-quality clinical practice guidelines
    <a href="https://sci-hub.se/10.1080/09638288.2019.1645888" target="_blank"> Disabil Rehabil
        . 2021 Apr;43(7):1029-1043. doi: 10.1080/09638288.2019.1645888. Epub 2019 Aug 1.</a><br>
    <p></p>
    

</div>    

{% endblock %}