{% extends "base.html" %}
{% block content %}

<form action="{% url 'duvidas_forms' %}" method="post">
    {% csrf_token %}
<div>
    <label class="mdc-text-field mdc-text-field--outlined">
        <span class="mdc-notched-outline">
        <span class="mdc-notched-outline__leading"></span>
        <span class="mdc-notched-outline__notch">
            <span class="mdc-floating-label" id="Duvida_label">Qual a sua dúvida?</span>
        </span>
        <span class="mdc-notched-outline__trailing"></span>
        </span>
        <input type="text" class="mdc-text-field__input" aria-labelledby="my-label-id" id="Duvida" name="Duvida">
    </label>
</div>

<label class="mdc-text-field mdc-text-field--outlined">
    <span class="mdc-notched-outline">
    <span class="mdc-notched-outline__leading"></span>
    <span class="mdc-notched-outline__notch">
        <span class="mdc-floating-label" id="Descricao_label">Descreva a sua dúvida: </span>
    </span>
    <span class="mdc-notched-outline__trailing"></span>
    </span>
    <input type="text" class="mdc-text-field__input" aria-labelledby="my-label-id" id="Descricao" name="Descricao" rows="5">
</label>



    <fieldset>
        <label for="Tipo_de_duvida">Tipo_de_duvida:</label>
        <select name="Tipo_de_duvida" id="Tipo_de_duvida">
            <option value="PYT">Python</option>
            <option value="DJA">Django</option>
            <option value="HTM">HTML</option>
            <option value="CSS">css</option>
</select>
    </fieldset>
    <fieldset>
        <label for="novidade">Esta é uma dúvida nova? </label>
        <input type="radio" id="novidade_true" name="novidade" value="True">
        <label for="TRUE">Sim</label>
        <input type="radio" id="novidade_false" name="novidade" value="False">
        <label for="FALSE">Não</label>
    </fieldset>
    <fieldset>
        <label for="dificuldade">Qual o grau de dificuldade desta sua dúvida? </label>
        <input type="number" id="dificuldade" name="dificuldade" min='1' max='10'>
    </fieldset>
    <input type="submit" value="Inserir">
</form>

{% endblock %}


