{% extends "base.html" %}
{% block content %}

<form action="{% url 'duvidas_forms' %}" method="post" style="margin: 5% 10%;">
    <h1>Nova dúvida</h1>
    {% csrf_token %}

    <div class="input-field col s6">
        <input id="Duvida" name="Duvida" type="text" class="validate" min="10" required>
        <label for="Duvida" id="Duvida_label">Qual a sua dúvida?</label>
    </div>

    <div class="input-field col s6">
        <input type="text" id="Descricao" name="Descricao" class="validate" required>
        <label for="Descricao" id="Descricao_label">Descreva a sua dúvida:</label>
    </div>


    <div class="input-field col s6">
        <select name="Tipo_de_duvida" id="Tipo_de_duvida" class="validate" required>
            <option value="PYT">Python</option>
            <option value="DJA">Django</option>
            <option value="HTM">HTML</option>
            <option value="CSS">css</option>
        </select>
        <label for="Tipo_de_duvida">Tipo de dúvida:</label>
    </div>

    <div class="input-field col s6">
        <p>
            <label>
                <span>
                    Esta é uma dúvida nova?
                </span>
            </label>
        </p>

        <p>
            <label>
                <input name="novidade" id="novidade_true" type="radio" required/>
                <span>Sim</span>
            </label>
        </p>

        <p>
            <label>
                <input name="novidade" id="novidade_false" type="radio" required/>
                <span>Não</span>
            </label>
        </p>

    </div>

    <div class="input-field col s6">
        <input type="number" id="dificuldade" name="dificuldade" min='1' max='10' class="validate" required>
        <label for="dificuldade">Qual o grau de dificuldade desta sua dúvida? </label>
    </div>

    <div class="input-field">
        <input class="btn waves-effect waves-light" type="submit" value="Inserir">
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems, {});
        });
    </script>
</form>

{% endblock %}