{% extends "base.html" %}
{% block content %}
{% load static %}


<div class="container">
    <br>
    <br>
    
    <h2>Topics in Implementation Research</h2>
    
    <br>
    <br>
    <br>
    <a href="https://apps.who.int/iris/bitstream/handle/10665/91758/9789241506212_eng.pdf?sequence=1" target="_blank"> Implementation Research in Health: A Practical Guide</a>
    <p></p>
    
    
    While it is clear that a degree of subjective judgment is
        necessary to assess any particular study, as a general rule,
        good implementation research should be able to address
        each of the following questions: <p></p><br>
    
        <ul>
        
            <li>Will the research answer a relevant and important implementation problem?</li>
            <li>Is the new knowledge potentially worth the cost of the research? </li>
            <li>Are there clear research objectives and questions related to implementation, and does the proposed research design match them?</li>
            <li>Does the research fit with a theory of change or causal chain in a coherent way? If not, what is the potential for generating new theories or questions?</li>
            <li>Will the research produce results that can be acted on in a timely way by the intended audiences?</li>
            <li>Does the research design reflect an understanding about whether the intervention is stable and simply replicable, or whether the intervention is expected to change?</li>
            <li>Does the research adequately capture changes that occur over time and place in both the intervention, the context, and the effects? </li>
            <li>In complex environments, can the research identify the main components of the health system and their relationships, as well as 
                the unintended consequences that are likely to occur from an intervention?</li>
        </ul>    
    
    <p></p>
    
        It should be noted that
    these guidelines are designed to help with the reporting
    and assessment of research reports, but they can also be
    adapted for purposes of assessing research proposals or
    the design of implementation research. The key questions
    include:<p></p><br>
        <ul>
            <li>Does the research clearly address a question concerning implementation?</li>
            <li>Is there a clear description of what is being implemented (e.g. details of the practice, programme, or policy)?</li>
            <li>Does the research involve an implementation strategy? If so, is it described and examined appropriately?</li>
            <li>Is the research conducted in a real-world setting? If so, are these conditions described in sufficient detail? </li>
            <li>Does the research appropriately consider implementation outcome variables?</li>
            <li>Does the research appropriately consider context and other factors that influence implementation?</li>
            <li>Does the research appropriately consider changes over time, and the level of complexity of the system?</li>
            <li>Does the research clearly identify the target audience for the research and how it can be used?</li>
        </ul>
    
    
    
    
    <br>
    <br>
    <br>
    <br>
    <br>

</div>




{% endblock %}