{% extends "base.html" %}
{% block content %}

<h3>Bem vinda, {{ Nome }}</h3>





<p></p>
<a href="https://www.laerte.art.br/acervo/?_sfm_decada=2010&sf_paged=2" target="_blank"> Laerte</a>
<br>
<p></p>
<a href="https://www.filmelier.com/br/films" target="_blank"> Filmelier</a>
<br>
<p></p>
<a href="https://www.researchsquare.com/login?redirect=/home" target="_blank"> Researchsquare</a>
<br>
<p></p>
<a href="https://publichealth.gwu.edu/departments/global-health/wolfgang-munar" target="_blank"> GWU Global Health</a>
<br>
<p></p>
<a href="https://researcher.nature.com/your-submissions" target="_blank"> Nature</a>
<br>
<p></p>
<a href="https://mc.manuscriptcentral.com/bmjopen" target="_blank"> BMJ Open</a>
<br>
<p></p>
<a href="https://americanaffairsjournal.org/2021/05/the-brazilianization-of-the-world/?fbclid=IwAR2xY9Q0qKs9K2Eay8GFGaeVZ7SUbN3mbaXO_rZV3tOXWsSCydJ9g_ND7L4" target="_blank"> The Brazilianization of the World</a>
<br>




<ul>
	{% for item in lista %}
	{% if item != "bbb" %}
	<li>{{ item }}</li>
	{% endif %}
	{% endfor %}
</ul>

<h3>Membros</h3>

<ol>
	{% for membro in membros %}
	<li>{{ membro.nome }}</li>
	{% endfor %}
</ol>

{% endblock %}