{% extends "base.html" %}
{% block content %}
{% load static %}

<h2>Temas em Psicometria</h2>

<br>
<br>
<br>

<h3>Conceitos</h3>
<p></p>
<br>


<a href="https://comm.eval.org/HigherLogic/System/DownloadDocumentFile.ashx?DocumentFileKey=30758c14-2e59-4c94-af88-ecdf11b0dabc" target="_blank"> Content Validity using Mixed Methods Approach</a>: Its application and development through the use of a Table of Specifications Methodology
<p></p>


Scale development: ten main limitations and recommendations to improve future research practices<a href="https://www.scielo.br/j/prc/a/M6fHHwfVFM9GkjCrsr9SFHz/?format=pdf&lang=en" target="_blank"> DOI 10.1186/s41155-016-0057-1</a>
<p></p>

Mixed Method Research: Instruments, Validity, Reliability and Reporting Findings<a href="http://www.academypublication.com/issues/past/tpls/vol03/02/06.pdf" target="_blank"> Theory and Practice in Language Studies, Vol. 3, No. 2, pp. 254-262, February 2013</a>
<p></p>

Design and Implementation Content Validity Study: Development of an instrument for measuring Patient-Centered Communication
<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4484991/#__ffn_sectitle" target="_blank"> J Caring Sci. 2015 Jun; 4(2): 165–178. Published online 2015 Jun 1. doi: 10.15171/jcs.2015.017</a>
<p></p>


<h3>Artigos</h3>
<p></p>
<br>


Validation of an instrument for the assessment of patient-centred care among patients with multimorbidity in the primary care setting: the 36-item patient-centred primary care instrument
<a href="https://bmcfampract.biomedcentral.com/track/pdf/10.1186/s12875-018-0832-4.pdf" target="_blank"> Cramm, J.M., Nieboer, A.P. BMC Fam Pract 19, 143 (2018). https://doi.org/10.1186/s12875-018-0832-4</a>
<p></p>

Assessment of patients’ expectations: development and validation of the Expectation for Treatment Scale (ETS)
<a href="https://bmjopen.bmj.com/content/9/6/e026712#block-system-main" target="_blank"> http://dx.doi.org/10.1136/bmjopen-2018-026712</a>
<p></p>

The physician’ s self-evaluation of the consultation and patient outcome: A longitudinal study
<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3587305/pdf/pri-31-26.pdf" target="_blank"> Scandinavian Journal of Primary Health Care, 2013; 31: 26–30</a>
<p></p>

Checklists for Assessing Skills of Children With Type 1 Diabetes on Insulin Injection Technique<a href="https://journals.sagepub.com/doi/10.1177/1932296820984771" target="_blank"> https://doi.org/10.1177/1932296820984771</a>
<p></p>

Adapting the definition of multimorbidity - development of a locality-based consensus for selecting included Long Term Conditions
<a href="https://pubmed.ncbi.nlm.nih.gov/34162331/" target="_blank"> BMC Fam Pract. 2021 Jun 23;22(1):124. doi: 10.1186/s12875-021-01477-x.</a>
<p></p>

Exploratory Factor Analysis in R. 
<a href="https://rstudio-pubs-static.s3.amazonaws.com/498796_05b4e23682d54da387499507495c7ef6.html" target="_blank"> Exploratory Factor Analysis Tutorial</a>
<p></p>

<h3>Tutoriais YouTube</h3>
<br>

<a href="https://www.youtube.com/watch?v=WKmFwTWgkMk&t=1403s" target="_blank"> Introdução à Modelagem por Equações Estruturais</a>
<p></p>
<a href="https://www.youtube.com/watch?v=LMOHQfOfFZg" target="_blank"> Aula Análise Fatorial Exploratória</a>
<p></p>







<br>
<br>
<br>

{% endblock %}