{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="container">

  <h1>Eventos</h1>

  <div class="range-field">
    <div class="flex space-between">
      <p>Médicos generalistas </p>
      <p class="family_doctor">Médicos de família</p>
    </div>
    <div class="range-box">
      <p><span id="generalistas">67</span>% </p>
      <input type="range" id="alcance" min="0" max="100" value="33" />
      <p class="family_doctor"><span id="medicosDeFamilia"> 33</span>% </p>
    </div>

  </div>
  <div id="graphic"></div>
  <table class="responsive-table striped">
    <thead>
      <tr>
        <th> Nome</th>
        <th> Tipo</th>
        <th> Risco</th>
        <th> Oportunidades</th>
        <th> Ocorrências</th>
        <th> Ponto (Lower - Upper)</th>
      </tr>
    </thead>

    <tbody>
      {% for evento in eventos %}
      <tr>

        <td>
          <a href="{% url 'evento' evento_id=evento.id%}">{{evento.nome}}</a>

        </td>
        <td> {{evento.tipo}} </td>
        <td>{{evento.risco}}</td>
        <td>{{evento.oportunidades}} </td>
        <td>{{evento.ocorrencias}}</td>
        <td>
          {{evento.ponto}} ( {{evento.lower}} - {{evento.upper}} )
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>

  const alcance = document.getElementById('alcance')

  let data = '{{ data | safe }}'
  data = JSON.parse(data)

  draw_chart(data)

  const generalistasSpan = document.getElementById('generalistas')
  const medicosDeFamiliaSpan = document.getElementById('medicosDeFamilia')
  alcance.addEventListener('change', function (event) {
    // nao mandar o form para lugar nenhum, permanecer aqui
    event.preventDefault()

    medicosDeFamiliaSpan.innerText = `${alcance.value}`
    generalistasSpan.innerText = `${100 - alcance.value}`


    const medicosDeFamilia = parseInt(alcance.value)
    const generalistas = 100 - medicosDeFamilia
    let new_data = []
    data.map( (d) => {
      let resultado = calculate_difference(generalistas, medicosDeFamilia, d.ponto, d.upper, d.lower, d.ocorrencias, d.y, d.z)
      d.value =  ((resultado[0]*d.ocorrencias/100)+d.ocorrencias).toFixed(0)
      new_data.push(d)
    })
    const graphic = document.getElementById('graphic')
    graphic.innerHTML = ""
    draw_chart(new_data)
  })
</script>

{% endblock %}