{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="container">

  <h1>Evento</h1>
  <p>
    <!-- Na sua cidade há 100 Equipes de Saúde da Família. Na opção abaixo, determine a quantidade de Médicos de Família que
    você tem disponível na sua cidade e veja as mudanças que podem ocorrer na quantidade de eventos: -->
    Ao longo de um ano, nossa população terá <b>{{evento.oportunidades}} consultas</b>, nas quais <b>{{evento.ocorrencias}} exames de {{evento.nome}}</b> 
    são solicitados. 66% são feitas por médicos Generalistas e 33% das consultas da nossa população foram feitas por Médicos de Família. 
    <b>Pacientes que consultam com Médicos de Família têm um risco {{evento.menos_ponto}}% menor de que um {{evento.nome}} seja solicitado na consulta</b>.
    <br>
    Use a barra para mudar a proporção de consultas feitas por Médicos de Família e Generalistas e veja o que acontecerá
    com os pedidos de <b>{{evento.nome}}</b>.
  </p>

  <p> <span class="bold">Nome:</span> {{evento.nome}} </p>
  <p> <span class="bold">Tipo:</span> {{evento.tipo}} </p>
  <p> <span class="bold">Risco:</span> {{evento.risco}} </p>
  <p> <span class="bold">Consultas:</span> {{evento.oportunidades}} </p>
  <p> <span class="bold">Ocorrências:</span> {{evento.ocorrencias}} </p>
  <p> <span class="bold"> Risco relativo (95% IC):</span> {{evento.ponto}} ( {{evento.lower}} - {{evento.upper}} ) </p>


  <p class="range-field">
  <div class="flex space-between">
    <p>Médicos generalistas </p>
    <p class="family_doctor">Médicos de família</p>
  </div>
  <div class="range-box">
    <p><span id="generalistas">67</span>% </p>
    <input type="range" id="alcance" min="0" max="100" value="33"/>
    <p class="family_doctor"><span id="medicosDeFamilia"> 33</span>%  </p>
  </div>
  
  </p>


  <p id="texto-resultado">

  </p>
</div>


<script>
  // const form = document.getElementById('form_de_range')
  const alcance = document.getElementById('alcance')

  const generalistasSpan = document.getElementById('generalistas')
  const medicosDeFamiliaSpan = document.getElementById('medicosDeFamilia')
  alcance.addEventListener('change', function (event) {
    medicosDeFamiliaSpan.innerText = `${alcance.value}`
    generalistasSpan.innerText = `${100 - alcance.value}`

  })

  alcance.addEventListener('mouseup', function (event) {
    // nao mandar o form para lugar nenhum, permanecer aqui
    event.preventDefault()

    const medicosDeFamilia = parseInt(alcance.value)
    const generalistas = 100 - medicosDeFamilia

    const proporcaoInicialGeneralistas = 0.66
    const proporcaoInicialMedicosDeFamilia = parseFloat((1 - proporcaoInicialGeneralistas).toFixed(2))


    // usando a mesma sintaxe usada no html para acessar o objeto passado pelo context da nossa view
    const ponto = parseFloat('{{evento.ponto}}')
    const upper = parseFloat('{{evento.upper}}')
    const lower = parseFloat('{{evento.lower}}')
    const y = parseFloat('{{evento.risco}}')
    const z = parseFloat('{{evento.oportunidades}}')
    const ocorrencias = parseFloat('{{evento.ocorrencias}}')

    const pontoPAF = (proporcaoInicialGeneralistas * 1 + proporcaoInicialMedicosDeFamilia * ponto) - (generalistas * 1 + medicosDeFamilia * ponto) /
      (proporcaoInicialGeneralistas * 1 + proporcaoInicialMedicosDeFamilia * ponto)

    const upperPAF = (proporcaoInicialGeneralistas * 1 + proporcaoInicialMedicosDeFamilia * upper) - (generalistas * 1 + medicosDeFamilia * upper) /
      (proporcaoInicialGeneralistas * 1 + proporcaoInicialMedicosDeFamilia * upper)

    const lowerPAF = (proporcaoInicialGeneralistas * 1 + proporcaoInicialMedicosDeFamilia * lower) - (generalistas * 1 + medicosDeFamilia * lower) /
      (proporcaoInicialGeneralistas * 1 + proporcaoInicialMedicosDeFamilia * lower)


    const popPontoPAF = Math.round((z * y * pontoPAF / 100).toFixed(4), 0)
    const popLowerPAF = Math.round((z * y * lowerPAF / 100).toFixed(4), 0)
    const popUpperPAF = Math.round((z * y * upperPAF / 100).toFixed(4), 0)

    const diferenca = ((ocorrencias + popPontoPAF) / ocorrencias * 100).toFixed(1)
    const intervaloLower = ocorrencias + popLowerPAF
    const intervaloUpper = ocorrencias + popUpperPAF


    const texto = document.getElementById('texto-resultado')

    if (diferenca > 0) {
      texto.innerHTML = `Ao longo de um ano, caso <b>${alcance.value}%</b> dos médicos aqui sejam Médicos de Família, haverá uma redução de <b>${diferenca}%</b> no número total de exames solicitados. 
    Dos <b>${ocorrencias}</b> exames solicitados inicialmente, <b>${(diferenca*ocorrencias/100).toFixed(0)}</b> exames deixarão de ser solicitados, com um intervalo de confiança entre <b>${intervaloUpper}</b> e <b>${intervaloLower}</b> exames.`
    }
    else {
      texto.innerHTML = `Ao longo de um ano, caso <b>${alcance.value}%</b> dos médicos aqui sejam Médicos de Família, haverá um aumento de <b>${Math.abs(diferenca)}%</b> no número total de exames solicitados. 
    Dos <b>${ocorrencias}</b> exames solicitados inicialmente, <b>${(Math.abs(diferenca*ocorrencias/100).toFixed(0))}</b> novos exames passarão a ser solicitados, com um intervalo de confiança entre <b>${Math.abs(intervaloUpper)}</b> e <b>${Math.abs(intervaloLower)}</b> exames.`
    }


  })

</script>
{% endblock %}